<tr>
    <td><%=score.id%></td>
    <td><%=score.user_value%></td>
    <td><%=score.machine_value%></td>
    <% if score.status==1 %>
        <td>¡Ganaste esta ronda!</td>
    <% else %>
        <td>Más suerte para la proxima..</td>
    <% end %>
</tr>