<div class="center-block">
    <table>
        <thead>
            <tr>
                <th>Tu Selección</th>
                <th>Tu Oponente</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <%= render @user.scores %>
        </tbody>
    </table>
</div>